@import 'reset.css';
@import 'font.css';

html,body{height:100%;}/*allows for 100% height*/
#shell{
	width:100%;		
	background: #a7cfdf; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #a7cfdf 0%,#23538a 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #a7cfdf 0%,#23538a 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #a7cfdf 0%,#23538a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	min-height:100%;
	
	header{
		font-family:ColaborateRegular,sans-serif;
		position: absolute;
		height:auto;
		width:100%;
		background-color:rgba(0,0,0,0.5);

		nav{
			font-size:1.5em;
			color:#fff;
			ul{
				li{
					@color: #fff;
					padding:.35em 1em .5em 0;
					display: inline;
					float:right;
					color: darken(@color, 50%);
				}
				#title{
					float:left;
					margin-right:5em;
					margin-left:1em;
					font-family:ColaborateBoldRegular,sans-serif;
					color:#fff;
				}
			}
		}
	}
	#center{
		position: absolute;
		height:260px;
		width:80%;
		top:50%;
		left:50%;
		margin-left:-40%;
		margin-top:-50px;
		text-align: center;
		
		#words p{
			display: inline;
		    padding-left:50px;
			font-family: ColaborateThinRegular, sans-serif;
			font-weight:400;
			font-size:5em;
			color:#fff;
		    text-shadow: 1px 1px 6px #222;
		    filter: dropshadow(color=#de39de, offx=1, offy=1);
			
			#idea0{
				padding-left:0;
			}
		}
		#button{
			width:50%;
			margin-top:3em;
			font-size:2em;
			font-family: 'Crimson Text', sans-serif;
			font-style:italic;
			font-weight:700;
			background-color:#ccc;
			-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
			-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
			box-shadow:inset 0px 1px 0px 0px #ffffff;
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
			background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
			background-color:#ededed;
			-moz-border-radius:6px;
			-webkit-border-radius:6px;
			border-radius:6px;
			border:1px solid #dcdcdc;
			display:inline-block;
			color:#777777;
			padding:6px 24px;
			text-decoration:none;
			text-shadow:1px 1px 0px #ffffff;
		}
		#button:hover {
			background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
			background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
			background-color:#dfdfdf;
		}
	}
}
@media screen and  (min-width:300px) and (max-width:480px){
body::before{
        content: "300-480px";
        font-weight: bold;
        display: block;
        text-align: center;
        background: rgba(255,255,0, 0.9);   /* Semi-transparent yellow */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
}
#shell{
	#center{
		top:40%;
		#words{
			text-align:center;
			p{
				padding-left:0;
			}

		}
		#words p{
			padding-left:25px;
		}

		#button{
			width:100%;
		}
	}
}//end #shell
}//end media query 300-480